<a href="https://colab.research.google.com/github/EAName/yelp-reviews/blob/main/Create_Reviews_CSV_Version_3_for_Each_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import json
import os

import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import statistics
import numpy as np

%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df_r =pd.read_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_reviews_version3.csv')

In [ ]:
df_r.shape

(3699688, 5)

In [ ]:
df_b =pd.read_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_business_clean_version1.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (43,44,45,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_b_philadelphia = df_b[df_b['market'].str.contains('Philadelphia', case=False, na=False)]
df_b_tampa = df_b[df_b['market'].str.contains('Tampa', case=False, na=False)]
df_b_st_louis = df_b[df_b['market'].str.contains('St. Louis', case=False, na=False)]
df_b_nashville = df_b[df_b['market'].str.contains('Nashville', case=False, na=False)]
df_b_indianapolis = df_b[df_b['market'].str.contains('Indianapolis', case=False, na=False)]

Philadelphia

In [ ]:
# only keep businesses that are categorized as restaurant
df = df_r.merge(df_b_philadelphia,left_on='business_id',right_on='business_id')

In [ ]:
df.shape

(1058716, 72)

In [ ]:
df  = df.iloc[: , :5]
df = df.rename(columns = {'stars_x':'stars'})

In [ ]:
df.head()

,user_id,business_id,date,stars,text
0,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,2015-01-04 00:01:03,5.0,"Wow! Yummy, different, delicious. Our favo..."
1,kSMOJwJXuEUqzfmuFncK4A,kxX2SOes4o-D3ZQBkiMRfA,2014-07-13 17:25:47,2.0,Dine-in gets 2 stars. Disappointing service & ...
2,mqBWACmaHflW4eh_Ofp16Q,kxX2SOes4o-D3ZQBkiMRfA,2010-08-20 19:16:04,5.0,After a long hiatus from reviewing I have awak...
3,Z-xgVb4nM42943m2wbBkFw,kxX2SOes4o-D3ZQBkiMRfA,2017-01-02 14:25:26,5.0,We've eaten here 3 times and it seems that eac...
4,2SEoXb6r6hPKrl9V9VzBgA,kxX2SOes4o-D3ZQBkiMRfA,2015-07-28 17:15:20,5.0,Came to Philly for a family event but stayed a...

In [ ]:
df.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_reviews_version3_philadelphia.csv', index = False)

Tampa

In [ ]:
# only keep businesses that are categorized as restaurant
df = df_r.merge(df_b_tampa,left_on='business_id',right_on='business_id')

In [ ]:
df.shape

(637913, 72)

In [ ]:
df  = df.iloc[: , :5]
df = df.rename(columns = {'stars_x':'stars'})

In [ ]:
df.head()

,user_id,business_id,date,stars,text
0,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,2014-10-11 16:22:06,5.0,"Great place for breakfast! I had the waffle, w..."
1,-Dt5o6GpQcXQfVeWpHNtDg,BVndHaLihEYbr76Z0CMEGw,2018-04-15 19:51:54,5.0,We came here based on the recommendation we re...
2,kiTsCsc_vtGXnzVz738w2g,BVndHaLihEYbr76Z0CMEGw,2014-11-15 16:49:09,5.0,We found this place by searching yelp and it d...
3,NKFBcrL56W7eHxPXxyPTxA,BVndHaLihEYbr76Z0CMEGw,2017-07-10 21:48:06,2.0,"Had supper about 5:00pm, 7/10/17, and was disa..."
4,ZuF1R91KH924zJwPTmFi4g,BVndHaLihEYbr76Z0CMEGw,2017-09-23 13:20:51,4.0,Good little mom and pop breakfast place. The f...

In [ ]:
df.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_reviews_version3_tampa.csv', index = False)

St. Louis

In [ ]:
# only keep businesses that are categorized as restaurant
df = df_r.merge(df_b_st_louis,left_on='business_id',right_on='business_id')

In [ ]:
df.shape

(299168, 72)

In [ ]:
df  = df.iloc[: , :5]
df = df.rename(columns = {'stars_x':'stars'})

In [ ]:
df.head()

,user_id,business_id,date,stars,text
0,9OAtfnWag-ajVxRbUTGIyg,lj-E32x9_FA7GmUrBGBEWg,2014-06-27 22:44:01,4.0,Love going here for happy hour or dinner! Gre...
1,5h9JA231vPilNAIjHxwGng,lj-E32x9_FA7GmUrBGBEWg,2014-08-24 19:24:26,5.0,My friends at work (connoisseurs of good food ...
2,c1fSI6Dv5lybr0AJh67e7w,lj-E32x9_FA7GmUrBGBEWg,2015-09-24 15:01:11,4.0,"Great service, relaxing atmosphere and the foo..."
3,st-q1iyW3sJm-v0OCrheoQ,lj-E32x9_FA7GmUrBGBEWg,2015-10-17 04:56:25,5.0,I went to Brio for the first time on Wednesday...
4,9qBdzBzoDxLFSMhhGrTWJg,lj-E32x9_FA7GmUrBGBEWg,2016-01-04 16:56:32,4.0,I usually steer clear of the chain restaurants...

In [ ]:
df.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_reviews_version3_st_louis.csv', index = False)

Nashville

In [34]:
# only keep businesses that are categorized as restaurant
df = df_r.merge(df_b_nashville,left_on='business_id',right_on='business_id')

In [35]:
df.shape

(346517, 72)

In [36]:
df  = df.iloc[: , :5]
df = df.rename(columns = {'stars_x':'stars'})

In [37]:
df.head()

,user_id,business_id,date,stars,text
0,-sryo4gDYxbZ1T5Bz4l5Bw,ltBBYdNzkeKdCNPDAsxwAA,2015-02-02 04:29:13,2.0,I at least have to give this restaurant two st...
1,Beizkox7xCrio08NHdp3gw,ltBBYdNzkeKdCNPDAsxwAA,2017-05-26 02:42:06,3.0,"Another Yelper hit it -- this is a noisy, crow..."
2,9ECJ7lTeMhjrbwtQzd6QdA,ltBBYdNzkeKdCNPDAsxwAA,2017-12-16 00:36:24,4.0,Great spot to come to if your in Nashville. Th...
3,7pD_jzC2IZVJbnTKcLj2Lg,ltBBYdNzkeKdCNPDAsxwAA,2018-01-09 23:22:15,5.0,"I'm usually a chilaquiles girl, so the Huevos ..."
4,noxaMHJFoBDFio1D3OF6Qg,ltBBYdNzkeKdCNPDAsxwAA,2017-06-17 21:02:18,1.0,I have never been so insulted and talked down ...

In [38]:
df.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_reviews_version3_nashville.csv', index = False)

Indianapolis

In [39]:
# only keep businesses that are categorized as restaurant
df = df_r.merge(df_b_indianapolis,left_on='business_id',right_on='business_id')

In [40]:
df.shape

(267619, 72)

In [41]:
df  = df.iloc[: , :5]
df = df.rename(columns = {'stars_x':'stars'})

In [42]:
df.head()

,user_id,business_id,date,stars,text
0,WBpQDAZymU0dhIqXcACGNw,ut6fi2W2YaipNOqvi7e0jw,2014-11-12 14:12:20,3.0,"Upland is a brewery based out of Bloomington, ..."
1,dqlnQ_sXU8Da1BHcN9kvuw,ut6fi2W2YaipNOqvi7e0jw,2014-05-26 17:03:43,5.0,Loved it! The staff is incredibly genuine and ...
2,5ScFEwwxP8Mx6mkMABEqYQ,ut6fi2W2YaipNOqvi7e0jw,2016-08-04 03:39:57,5.0,Claire does an amazing job!! Thanks so much fo...
3,v4e0BpuqX65PXuvNPpeETA,ut6fi2W2YaipNOqvi7e0jw,2013-06-24 18:58:49,3.0,So I definitely much prefer the feel of the ta...
4,X0YpEIL1aURFnlk5HNb59A,ut6fi2W2YaipNOqvi7e0jw,2018-05-29 19:18:28,5.0,Been coming here for months and between the be...

In [43]:
df.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_reviews_version3_indianapolis.csv', index = False)