<a href="https://colab.research.google.com/github/EAName/yelp-reviews/blob/main/EDA_yelp_business_cleaned_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
from tqdm import tqdm

import json
import os

import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import statistics
import numpy as np

%matplotlib inline

In [3]:
# First drop yelp_dataset into your drive (Add shortcut to Drive)
business_json_path = '/content/gdrive/MyDrive/yelp_dataset/yelp_business_clean_version1.csv'
df_b = pd.read_csv(business_json_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (43,44,45,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_b

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,...,NoiseLevel_very_loud,RestaurantsAttire_casual,RestaurantsAttire_dressy,RestaurantsAttire_formal,Smoking_no,Smoking_outdoor,Smoking_yes,WiFi_free,WiFi_no,WiFi_paid
0,8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123.0,38.565165,-90.321087,3.0,...,0,1,0,0,0,0,0,1,0,0
1,12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227.0,39.637133,-86.127217,2.5,...,0,1,0,0,0,0,0,0,1,0
2,15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,...,0,1,0,0,0,0,0,1,0,0
3,19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,...,0,1,0,0,0,0,0,0,1,0
4,22,kfNv-JZpuN6TVNSO6hHdkw,Hibachi Express,6625 E 82nd St,Indianapolis,IN,46250.0,39.904320,-86.053080,4.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35285,150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119.0,40.060414,-75.191084,4.0,...,0,1,0,0,0,0,0,1,0,0
35286,150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128.0,40.032483,-75.214430,3.0,...,0,1,0,0,0,0,0,0,1,0
35287,150322,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201.0,36.163875,-86.776311,4.0,...,0,0,1,0,0,0,0,1,0,0
35288,150323,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702.0,43.616590,-116.202383,4.5,...,0,1,0,0,0,0,0,1,0,0
35289,150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147.0,39.935982,-75.158665,4.5,...,0,1,0,0,0,0,0,1,0,0

In [5]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35290 entries, 0 to 35289
Data columns (total 68 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  35290 non-null  int64
 1   business_id                 35290 non-null  object
 2   name                        35290 non-null  object
 3   address                     35215 non-null  object
 4   city                        35290 non-null  object
 5   state                       35290 non-null  object
 6   postal_code                 35289 non-null  float64
 7   latitude                    35290 non-null  float64
 8   longitude                   35290 non-null  float64
 9   stars                       35290 non-null  float64
 10  review_count                35290 non-null  int64
 11  is_open                     35290 non-null  int64
 12  attributes                  34914 non-null  object
 13  categories                  35290 non-null  object
 14  hours                       29785 non-null  object
 15  market                      35290 non-null  object
 16  Caters                      23397 non-null  object
 17  RestaurantsDelivery         30318 non-null  object
 18  RestaurantsTakeOut          32068 non-null  object
 19  HasTV                       29680 non-null  object
 20  BusinessAcceptsCreditCards  32136 non-null  object
 21  OutdoorSeating              29439 non-null  object
 22  BusinessParking             31190 non-null  object
 23  Ambience                    29547 non-null  object
 24  RestaurantsPriceRange2      30051 non-null  float64
 25  GoodForKids                 28780 non-null  object
 26  RestaurantsReservations     29965 non-null  object
 27  RestaurantsGoodForGroups    29382 non-null  object
 28  BikeParking                 23823 non-null  object
 29  GoodForMeal                 20284 non-null  object
 30  DogsAllowed                 8199 non-null   object
 31  HappyHour                   10541 non-null  object
 32  WheelchairAccessible        9479 non-null   object
 33  RestaurantsTableService     14517 non-null  object
 34  BusinessAcceptsBitcoin      4813 non-null   object
 35  Music                       5018 non-null   object
 36  GoodForDancing              3224 non-null   object
 37  CoatCheck                   3717 non-null   object
 38  BestNights                  4131 non-null   object
 39  BYOB                        3220 non-null   object
 40  ByAppointmentOnly           2265 non-null   object
 41  DriveThru                   1825 non-null   object
 42  Corkage                     2636 non-null   object
 43  RestaurantsCounterService   11 non-null     object
 44  Open24Hours                 14 non-null     object
 45  AcceptsInsurance            4 non-null      object
 46  DietaryRestrictions         13 non-null     object
 47  AgesAllowed_21plus          35290 non-null  int64
 48  AgesAllowed_allages         35290 non-null  int64
 49  Alcohol_None                35290 non-null  int64
 50  Alcohol_beer_and_wine       35290 non-null  int64
 51  Alcohol_full_bar            35290 non-null  int64
 52  BYOBCorkage_no              35290 non-null  int64
 53  BYOBCorkage_yes_corkage     35290 non-null  int64
 54  BYOBCorkage_yes_free        35290 non-null  int64
 55  NoiseLevel_average          35290 non-null  int64
 56  NoiseLevel_loud             35290 non-null  int64
 57  NoiseLevel_quiet            35290 non-null  int64
 58  NoiseLevel_very_loud        35290 non-null  int64
 59  RestaurantsAttire_casual    35290 non-null  int64
 60  RestaurantsAttire_dressy    35290 non-null  int64
 61  RestaurantsAttire_formal    35290 non-null  int64
 62  Smoking_no                  35290 non-null  int64
 63  Smoking_outdoor             35290 non-null  int64
 64  Smoking_yes                 35290 non-null  int64
 65  WiFi_free                   35290 non-null  int64
 66  WiFi_no                     35290 non-null  int64
 67  WiFi_paid                   35290 non-null  int64
dtypes: float64(5), int64(24), object(39)
memory usage: 18.3+ MB

In [6]:
#Have ten features which are across all the restaurants

In [7]:
#AcceptsInsurance
#DietaryRestrictions
#ByAppointmentOnly
#BusinessAcceptsBitcoin
#GoodForMeal
#DogsAllowed
#RestaurantsTableService
#GoodForDancing
#CoatCheck
#BestNights
#DriveThru
#Open24Hours
#BYOB
#Corkage
#RestaurantsCounterService

In [8]:
df_columns_deleted = df_b.drop(columns = ['AcceptsInsurance','DietaryRestrictions','ByAppointmentOnly','BusinessAcceptsBitcoin','GoodForMeal','DogsAllowed','RestaurantsTableService','GoodForDancing','CoatCheck','BestNights','DriveThru','Open24Hours','BYOB','Corkage','RestaurantsCounterService'])

In [9]:
df_columns_deleted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35290 entries, 0 to 35289
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  35290 non-null  int64
 1   business_id                 35290 non-null  object
 2   name                        35290 non-null  object
 3   address                     35215 non-null  object
 4   city                        35290 non-null  object
 5   state                       35290 non-null  object
 6   postal_code                 35289 non-null  float64
 7   latitude                    35290 non-null  float64
 8   longitude                   35290 non-null  float64
 9   stars                       35290 non-null  float64
 10  review_count                35290 non-null  int64
 11  is_open                     35290 non-null  int64
 12  attributes                  34914 non-null  object
 13  categories                  35290 non-null  object
 14  hours                       29785 non-null  object
 15  market                      35290 non-null  object
 16  Caters                      23397 non-null  object
 17  RestaurantsDelivery         30318 non-null  object
 18  RestaurantsTakeOut          32068 non-null  object
 19  HasTV                       29680 non-null  object
 20  BusinessAcceptsCreditCards  32136 non-null  object
 21  OutdoorSeating              29439 non-null  object
 22  BusinessParking             31190 non-null  object
 23  Ambience                    29547 non-null  object
 24  RestaurantsPriceRange2      30051 non-null  float64
 25  GoodForKids                 28780 non-null  object
 26  RestaurantsReservations     29965 non-null  object
 27  RestaurantsGoodForGroups    29382 non-null  object
 28  BikeParking                 23823 non-null  object
 29  HappyHour                   10541 non-null  object
 30  WheelchairAccessible        9479 non-null   object
 31  Music                       5018 non-null   object
 32  AgesAllowed_21plus          35290 non-null  int64
 33  AgesAllowed_allages         35290 non-null  int64
 34  Alcohol_None                35290 non-null  int64
 35  Alcohol_beer_and_wine       35290 non-null  int64
 36  Alcohol_full_bar            35290 non-null  int64
 37  BYOBCorkage_no              35290 non-null  int64
 38  BYOBCorkage_yes_corkage     35290 non-null  int64
 39  BYOBCorkage_yes_free        35290 non-null  int64
 40  NoiseLevel_average          35290 non-null  int64
 41  NoiseLevel_loud             35290 non-null  int64
 42  NoiseLevel_quiet            35290 non-null  int64
 43  NoiseLevel_very_loud        35290 non-null  int64
 44  RestaurantsAttire_casual    35290 non-null  int64
 45  RestaurantsAttire_dressy    35290 non-null  int64
 46  RestaurantsAttire_formal    35290 non-null  int64
 47  Smoking_no                  35290 non-null  int64
 48  Smoking_outdoor             35290 non-null  int64
 49  Smoking_yes                 35290 non-null  int64
 50  WiFi_free                   35290 non-null  int64
 51  WiFi_no                     35290 non-null  int64
 52  WiFi_paid                   35290 non-null  int64
dtypes: float64(5), int64(24), object(24)
memory usage: 14.3+ MB

In [10]:
#Two-dimensional count for NaN values in the entire dataframe
df_columns_deleted.isnull().sum().sum()

165783

In [11]:
#drop rows which contain more than 5 NaN values
df_droppedNaN = df_columns_deleted[df_columns_deleted.isnull().sum(axis=1) < 10]

In [12]:
df_droppedNaN.isnull().sum().sum()

108993

In [13]:
df_droppedNaN.fillna(0)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,...,NoiseLevel_very_loud,RestaurantsAttire_casual,RestaurantsAttire_dressy,RestaurantsAttire_formal,Smoking_no,Smoking_outdoor,Smoking_yes,WiFi_free,WiFi_no,WiFi_paid
0,8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123.0,38.565165,-90.321087,3.0,...,0,1,0,0,0,0,0,1,0,0
1,12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227.0,39.637133,-86.127217,2.5,...,0,1,0,0,0,0,0,0,1,0
2,15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,...,0,1,0,0,0,0,0,1,0,0
3,19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,...,0,1,0,0,0,0,0,0,1,0
5,23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502.0,39.476117,-119.789339,2.5,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35285,150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119.0,40.060414,-75.191084,4.0,...,0,1,0,0,0,0,0,1,0,0
35286,150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128.0,40.032483,-75.214430,3.0,...,0,1,0,0,0,0,0,0,1,0
35287,150322,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201.0,36.163875,-86.776311,4.0,...,0,0,1,0,0,0,0,1,0,0
35288,150323,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702.0,43.616590,-116.202383,4.5,...,0,1,0,0,0,0,0,1,0,0
35289,150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147.0,39.935982,-75.158665,4.5,...,0,1,0,0,0,0,0,1,0,0

In [14]:
df_droppedNaN.replace({False: 0, True: 1}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [15]:
df_droppedNaN

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,...,NoiseLevel_very_loud,RestaurantsAttire_casual,RestaurantsAttire_dressy,RestaurantsAttire_formal,Smoking_no,Smoking_outdoor,Smoking_yes,WiFi_free,WiFi_no,WiFi_paid
0,8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123.0,38.565165,-90.321087,3.0,...,0,1,0,0,0,0,0,1,0,0
1,12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227.0,39.637133,-86.127217,2.5,...,0,1,0,0,0,0,0,0,1,0
2,15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,4.0,...,0,1,0,0,0,0,0,1,0,0
3,19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,4.5,...,0,1,0,0,0,0,0,0,1,0
5,23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502.0,39.476117,-119.789339,2.5,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35285,150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119.0,40.060414,-75.191084,4.0,...,0,1,0,0,0,0,0,1,0,0
35286,150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128.0,40.032483,-75.214430,3.0,...,0,1,0,0,0,0,0,0,1,0
35287,150322,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201.0,36.163875,-86.776311,4.0,...,0,0,1,0,0,0,0,1,0,0
35288,150323,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702.0,43.616590,-116.202383,4.5,...,0,1,0,0,0,0,0,1,0,0
35289,150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147.0,39.935982,-75.158665,4.5,...,0,1,0,0,0,0,0,1,0,0

In [16]:
df_droppedNaN.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_business_clean_version2.csv')

In [17]:
#Regression model
#Y = b1x1 + b2x2...+