<a href="https://colab.research.google.com/github/EAName/yelp-reviews/blob/main/yelp_business_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import json
import os

import numpy as np
import pandas as pd
from tqdm import tqdm

In [3]:
df_business_linear =pd.read_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_business_clean_version4.csv')

In [4]:
df_business_linear

,Unnamed: 0,Unnamed: 0.1,business_id,name,address,city,state,postal_code,latitude,longitude,...,NoiseLevel_very_loud,RestaurantsAttire_casual,RestaurantsAttire_dressy,RestaurantsAttire_formal,Smoking_no,Smoking_outdoor,Smoking_yes,WiFi_free,WiFi_no,WiFi_paid
0,0,8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123.0,38.565165,-90.321087,...,0,1,0,0,0,0,0,1,0,0
1,1,12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227.0,39.637133,-86.127217,...,0,1,0,0,0,0,0,0,1,0
2,2,15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,...,0,1,0,0,0,0,0,1,0,0
3,3,19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,...,0,1,0,0,0,0,0,0,1,0
4,5,23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502.0,39.476117,-119.789339,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30925,35285,150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119.0,40.060414,-75.191084,...,0,1,0,0,0,0,0,1,0,0
30926,35286,150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128.0,40.032483,-75.214430,...,0,1,0,0,0,0,0,0,1,0
30927,35287,150322,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201.0,36.163875,-86.776311,...,0,0,1,0,0,0,0,1,0,0
30928,35288,150323,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702.0,43.616590,-116.202383,...,0,1,0,0,0,0,0,1,0,0
30929,35289,150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147.0,39.935982,-75.158665,...,0,1,0,0,0,0,0,1,0,0

In [5]:
df_business_linear.isna().any()

Unnamed: 0                    False
Unnamed: 0.1                  False
business_id                   False
name                          False
address                        True
city                          False
state                         False
postal_code                    True
latitude                      False
longitude                     False
stars                         False
review_count                  False
is_open                       False
attributes                    False
categories                    False
market                        False
RestaurantsTakeOut             True
HasTV                          True
BusinessAcceptsCreditCards     True
BusinessParking                True
RestaurantsPriceRange2         True
RestaurantsReservations        True
AgesAllowed_21plus            False
AgesAllowed_allages           False
Alcohol_None                  False
Alcohol_beer_and_wine         False
Alcohol_full_bar              False
BYOBCorkage_no                False
BYOBCorkage_yes_corkage       False
BYOBCorkage_yes_free          False
NoiseLevel_average            False
NoiseLevel_loud               False
NoiseLevel_quiet              False
NoiseLevel_very_loud          False
RestaurantsAttire_casual      False
RestaurantsAttire_dressy      False
RestaurantsAttire_formal      False
Smoking_no                    False
Smoking_outdoor               False
Smoking_yes                   False
WiFi_free                     False
WiFi_no                       False
WiFi_paid                     False
dtype: bool

In [6]:
df_business_linear.fillna({'address':0,
 'postal_code':0,
 'RestaurantsTakeOut':0,
 'HasTV':0,
 'BusinessAcceptsCreditCards':0,
 'BusinessParking':0,
 'RestaurantsPriceRange2':0,
 'RestaurantsReservations':0,
 },
 inplace=True)
df_business_linear.isna().any()

Unnamed: 0                    False
Unnamed: 0.1                  False
business_id                   False
name                          False
address                       False
city                          False
state                         False
postal_code                   False
latitude                      False
longitude                     False
stars                         False
review_count                  False
is_open                       False
attributes                    False
categories                    False
market                        False
RestaurantsTakeOut            False
HasTV                         False
BusinessAcceptsCreditCards    False
BusinessParking               False
RestaurantsPriceRange2        False
RestaurantsReservations       False
AgesAllowed_21plus            False
AgesAllowed_allages           False
Alcohol_None                  False
Alcohol_beer_and_wine         False
Alcohol_full_bar              False
BYOBCorkage_no                False
BYOBCorkage_yes_corkage       False
BYOBCorkage_yes_free          False
NoiseLevel_average            False
NoiseLevel_loud               False
NoiseLevel_quiet              False
NoiseLevel_very_loud          False
RestaurantsAttire_casual      False
RestaurantsAttire_dressy      False
RestaurantsAttire_formal      False
Smoking_no                    False
Smoking_outdoor               False
Smoking_yes                   False
WiFi_free                     False
WiFi_no                       False
WiFi_paid                     False
dtype: bool

In [7]:
df_business_linear

,Unnamed: 0,Unnamed: 0.1,business_id,name,address,city,state,postal_code,latitude,longitude,...,NoiseLevel_very_loud,RestaurantsAttire_casual,RestaurantsAttire_dressy,RestaurantsAttire_formal,Smoking_no,Smoking_outdoor,Smoking_yes,WiFi_free,WiFi_no,WiFi_paid
0,0,8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123.0,38.565165,-90.321087,...,0,1,0,0,0,0,0,1,0,0
1,1,12,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227.0,39.637133,-86.127217,...,0,1,0,0,0,0,0,0,1,0
2,2,15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106.0,39.953949,-75.143226,...,0,1,0,0,0,0,0,1,0,0
3,3,19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147.0,39.943223,-75.162568,...,0,1,0,0,0,0,0,0,1,0
4,5,23,9OG5YkX1g2GReZM0AskizA,Romano's Macaroni Grill,5505 S Virginia St,Reno,NV,89502.0,39.476117,-119.789339,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30925,35285,150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119.0,40.060414,-75.191084,...,0,1,0,0,0,0,0,1,0,0
30926,35286,150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128.0,40.032483,-75.214430,...,0,1,0,0,0,0,0,0,1,0
30927,35287,150322,2MAQeAqmD8enCT2ZYqUgIQ,The Melting Pot - Nashville,"166 2nd Ave N, Ste A",Nashville,TN,37201.0,36.163875,-86.776311,...,0,0,1,0,0,0,0,1,0,0
30928,35288,150323,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702.0,43.616590,-116.202383,...,0,1,0,0,0,0,0,1,0,0
30929,35289,150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147.0,39.935982,-75.158665,...,0,1,0,0,0,0,0,1,0,0

In [8]:
# Star Ratings between 1 - 5. Classification problem.

In [9]:
df_business_linear.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_business_linear_regression.csv')

In [10]:
#Linear Regression

import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics

In [11]:
X = df_business_linear.copy()
X = X.drop( ["stars","Unnamed: 0","Unnamed: 0.1","business_id","name","address","city","state","postal_code","latitude","longitude","attributes","categories","BusinessParking","market"], axis=1 )
Y = df_business_linear["stars"]

In [12]:
varNames = list( X.columns.values )
m = LinearRegression()
m.fit(X,Y)


coef_dict = {}
coef_dict["INTERCEPT"] = m.intercept_
for coef, feat in zip(m.coef_,varNames):
    coef_dict[feat] = coef

for i in coef_dict :
    print( i, " = ", coef_dict[i]  )


PRED = m.predict( X )
print(" Predicted Values ")
print( PRED )
print(" --------- ")


r2 = metrics.r2_score( Y, PRED )
print( "r2=", r2 )

mse = metrics.mean_squared_error(Y,PRED)
print( "MSE=", mse )

INTERCEPT  =  3.9775699653447685
review_count  =  0.0005001410406020241
is_open  =  0.09635773886604884
RestaurantsTakeOut  =  -0.06617771839049463
HasTV  =  -0.10250705596080491
BusinessAcceptsCreditCards  =  -0.26470365812418917
RestaurantsPriceRange2  =  -0.03433041776170939
RestaurantsReservations  =  0.08116399922662727
AgesAllowed_21plus  =  -0.39048718028738505
AgesAllowed_allages  =  -0.6003004738750252
Alcohol_None  =  0.13723640825594371
Alcohol_beer_and_wine  =  0.28439625225229753
Alcohol_full_bar  =  -0.01619443328506115
BYOBCorkage_no  =  -0.10779527803805326
BYOBCorkage_yes_corkage  =  0.1041532516489204
BYOBCorkage_yes_free  =  -0.04068588136825007
NoiseLevel_average  =  0.037980559604115345
NoiseLevel_loud  =  -0.18880546863220218
NoiseLevel_quiet  =  0.10338907802592212
NoiseLevel_very_loud  =  -0.4170439844725892
RestaurantsAttire_casual  =  -0.3724212748544762
RestaurantsAttire_dressy  =  -0.15155508450439018
RestaurantsAttire_formal  =  -0.5318295531840724
Smoking_no  =  0.20899882730074595
Smoking_outdoor  =  0.15233906793506
Smoking_yes  =  0.1293242590168826
WiFi_free  =  0.16187401048020855
WiFi_no  =  0.1046908653678362
WiFi_paid  =  0.08140925863483985
 Predicted Values
[3.33059266 3.4897188  3.68932291 ... 3.72266582 3.8406405  3.51607252]
 ---------
r2= 0.13437814764754152
MSE= 0.41789083286834056

In [ ]:
#Based on r2 score, ordinal logistic regression will be evaluated for the dataset.

In [13]:
#Linear regression - based on all variables, each predictive variable has a given weight (how much it affects the value of the outcome). Negative values influence star rating,
PRED[0:10]

array([3.33059266, 3.4897188 , 3.68932291, 3.68163284, 3.63382911,
       3.83220202, 3.68579188, 3.52826755, 3.43784346, 3.56821079])

In [14]:
PRED[0:100]

array([3.33059266, 3.4897188 , 3.68932291, 3.68163284, 3.63382911,
       3.83220202, 3.68579188, 3.52826755, 3.43784346, 3.56821079,
       3.29676238, 3.51129456, 3.79074992, 3.38765218, 3.58200245,
       3.39427227, 3.72065237, 4.03689776, 3.36775649, 3.43195181,
       4.0077212 , 3.19391331, 3.66413376, 3.3931604 , 3.84832949,
       3.3507517 , 3.57417118, 3.59060717, 3.59697613, 3.71853918,
       3.48541617, 3.37476866, 3.72056188, 3.15651887, 3.45445019,
       4.93137096, 3.48706422, 3.55736455, 3.45635577, 3.49937064,
       3.54585045, 3.59975734, 3.58055115, 3.38635909, 3.52619894,
       3.4928688 , 3.67487493, 4.38047335, 3.58731599, 3.2103465 ,
       3.45502765, 3.38067483, 3.74656619, 3.38892948, 3.58482359,
       3.57445995, 3.59992887, 3.59478364, 3.51645792, 3.5732122 ,
       3.38076016, 3.79855719, 3.33974859, 3.56468025, 3.60743099,
       3.51385224, 3.91217382, 3.92761908, 3.77514072, 3.56110661,
       3.54039963, 3.82791303, 3.89421448, 3.89105481, 2.99426775,
       3.34448014, 3.32774521, 3.6394857 , 3.78135388, 3.75904997,
       3.40643442, 3.37695521, 3.38342793, 3.38911899, 3.41965513,
       3.59459811, 3.81869237, 3.02844279, 3.66696182, 3.62054592,
       3.63955472, 3.92135008, 3.34629746, 4.22395753, 3.65304003,
       3.42033852, 3.69539262, 3.66994992, 3.27508925, 3.40668316])