<a href="https://colab.research.google.com/github/EAName/yelp-reviews/blob/main/Yelp_Data_Converting_User_Json_to_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
import json
import os

import numpy as np
import pandas as pd
from tqdm import tqdm

User file

In [7]:
user_json_path = '/content/gdrive/MyDrive/yelp_dataset/yelp_academic_dataset_user.json'

In [8]:
data = {'user_id': [], 'name': [], 'review_count': [], 'yelping_since': [], 'friends': [], 'useful': [], 'funny': [], 'cool': [], 'fans': [], 
        'elite': [], 'average_stars': []}

with open(user_json_path) as f:
    for line in tqdm(f):
        review = json.loads(line)
        data['user_id'].append(review['user_id'])
        data['name'].append(review['name'])
        data['review_count'].append(review['review_count'])
        data['yelping_since'].append(review['yelping_since'])
        data['friends'].append(review['friends'])
        data['useful'].append(review['useful'])
        data['funny'].append(review['funny'])
        data['cool'].append(review['cool'])
        data['fans'].append(review['fans'])
        data['elite'].append(review['elite'])
        data['average_stars'].append(review['average_stars'])

1987897it [00:58, 33868.53it/s]

In [9]:
df_user = pd.DataFrame(data)

print(df_user.shape)
df_user.head()

(1987897, 11)

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",7217,1259,5994,267,2007,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",43091,13066,27281,3138,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",2086,1010,1003,52,"2009,2010,2011,2012,2013",3.32
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",512,330,299,28,"2009,2010,2011",4.27
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",29,15,7,1,,3.54

In [10]:
df_reviews =pd.read_csv('/content/gdrive/MyDrive/498_Group52/yelp_dataset/yelp_reviews_restaurants.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
df_reviews.head()

,Unnamed: 0,user_id,business_id,date,stars,text
0,0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,2018-07-07 22:09:11,3.0,"If you decide to eat here, just be aware it is..."
1,1,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2017-05-13 17:06:55,2.0,This is the second time we tried turning point...
2,2,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,2017-08-08 00:58:18,4.0,The place is cute and the staff was very frien...
3,3,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,2017-11-19 02:20:23,3.0,We came on a Saturday morning after waiting a ...
4,4,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2017-09-09 17:49:47,2.0,"Mediocre at best. The decor is very nice, and ..."

In [12]:
df_reviews.shape

(4724686, 6)

In [14]:
# only keep users that left restaurant reviews
df2 = df_user.merge(df_reviews,left_on='user_id',right_on='user_id')
df2 = df2.drop_duplicates(subset=['user_id'])
users_restaurants_only  = df2.iloc[: , :11]

In [15]:
users_restaurants_only.shape

(1446025, 11)

In [16]:
users_restaurants_only.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",7217,1259,5994,267,2007,3.91
7,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",43091,13066,27281,3138,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74
34,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",2086,1010,1003,52,"2009,2010,2011,2012,2013",3.32
45,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",512,330,299,28,"2009,2010,2011",4.27
52,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",29,15,7,1,,3.54

In [17]:
users_restaurants_only.to_csv('/content/gdrive/MyDrive/yelp_dataset/yelp_user_restaurants.csv')